[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.18.60"
azure-storage-blob = "==12.9.0"
pandas = "==1.3.0"
PyYAML = "==5.3.1"

[dev-packages]

[requires]
python_version = "3.8"
